body {
    background-color: bisque;
}

* {
    box-sizing: border-box;
}



.ELAImage {
    width: 30vw;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 663px) {
    .half {
        width: 40vw;
        float: left;
    }

    img {
        width: 30vw;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
    }

    .lds-spinner {
        position: absolute;
        left: 45vw;
        top: 18vw;
    }
}

@media screen and (max-width: 663px) {
    .half {
        width: 90vw;
    }

    img {
        width: 80vw;
        margin: auto;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
    }
}